<section class="curl">
  <h4><%= t(:curl) %> <span class="toggle_view" style="font-size:12px;">(<a>hide</a><a style="display:none;">show</a>)</span></h4>
  <pre><%= request['curl'] %></pre>
</section>
